body.home {
  background: #eee;
}

#logo {
  width: 120px;
}

.et_header_style_left #et-top-navigation nav>ul>li>a,
.et_header_style_split #et-top-navigation nav>ul>li>a {
  padding-bottom: 20px;
}

.table-container {
  max-width: 1200px;
  width: 100%;
  margin: 120px auto 50px;
  padding: 100px 90px;
  background: #fff;
}

.table-container h1.table-container__title {
  margin-bottom: 0;
}

.table-container hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
}

.total-income__floating {
  position: sticky;
  top: 20px;
}

.ant-input-number.total-income__input {
  width: 100%;
}

.ant-input-number.table__input {
  width: 100%;
  border: none;
}

.table__input input{
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.totals .totals__row1 {
  margin-bottom: 20px;
}